@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    background-image: url(./assets/bg-img-unsplash.jpg);
    background-size: cover;
    height: 100vh;
}

.container {
    height: 100%;
    display: grid;
    grid-template-rows: 4rem 6fr 3rem;
}

.container > * {
    padding: 0 5%;
}


/* group elements */
.header,
.footer {
    background-color: rgb(255, 255, 255);
    justify-items: center;
    align-content: center;
}


/* header */
.header {
    font-family: "Outfit";
    box-shadow: 0px 5px 18px rgb(88, 88, 88);
}


/* display area */



/* footer */
.footer {
    box-shadow: 0px -5px 18px rgb(88, 88, 88);
}

small {
    text-align: center;
}